*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

html{
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size:clamp(16px, 2.2vh, 24px);
}

body{
    background-image: url("/new_images/Background_updated.png");
    background-color: transparent;
    font-family: inherit;
    font-size:clamp(16px, 2.2vh, 24px);
    min-height: 80vh;
    width: 60%;
    margin: 45px auto;
}

h1{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 10px;
}

p{
    color: white;
    font-size: 10px;
    text-align: center;
}

span{
    padding-left: 10px;
}


.main{
    height: 100px;
    width:500px;
    place-content: center;
    margin: 30px auto;
}

.box{
    background-color:white;
    color:black;
    border: 1px solid whitesmoke;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.two{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid white;
    max-width: 600px;
    min-height: 200px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
   
}


figure img{
    width: 80px;
   height: 80px;
  
}

figcaption{
    font-size: 12px;
    margin: 15px auto;
    font-weight: bold;

}

 .icon{
    overflow: hidden;
    width: 100px;
    height: 30px;
    
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 #samantha_twitter{
    width: 10px;
    height: 10px;
 }

 #samantha_facebook{
    width: 10px;
    height: 10px;
 }

 #samantha_behance{
    width: 10px;
    height: 10px;
 }

 #evan_facebook{
    width: 10px;
    height: 10px;
 }

 #evan_twitter{
    width: 10px;
    height: 10px;
 }

 #evan_behance{
    width: 10px;
    height: 10px;
 }

 #brian_facebook{
    width: 10px;
    height: 10px;
 }

 #brian_twitter{
    width: 10px;
    height: 10px;
 }


 button{
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 10px;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button:hover{
    color: red;
    border: 1px solid red;
}